{% extends "base.html" %}
{% block title %} Temp & Humidity - Home {% endblock %}
{{ super() }}
{% block navItem1 %} <a class="nav-link" aria-current="page" href="/sensor1">In Portacom</a> {% endblock %}
{% block navItem2 %} <a class="nav-link" href="/sensor2">Under Portacom</a> {% endblock %}

{% block content %}

	<div class="d-flex justify-content-around">
		<div id="g1"></div>
		<div class="d-flex justify-content-around">

			<form action="{{ url_for('index')}}" method="post" class="form-inline">
				<div class="row g-3 align-items-center">
					<div class="col-auto">
						<label for="Sdate" class="col-form-label text-white">Enter Date</label>
						<input type="text" id="Sdate" name="Sdate" class="form-control">
					</div>
				</div>
				<button type="submit" class="btn btn-secondary active mt-2">Load</button>
			</form>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<a class="btn btn-secondary btn-lg active m-3" role="button"href="/">Refresh</a>
		<a class="btn btn-secondary btn-lg active m-3" role="button"href="/ServerCPU/entireDay">Entire Day</a>
	</div>

	<div class="d-flex justify-content-center">
		<p class="p-2 mb-2 text-white">Data from the last 12 hours.</p>
	</div>

    <div class="d-flex justify-content-around">
        <canvas id="tempChart" width="1800" height="500"></canvas>
    </div>

    <script>
		// Global parameters:
		// do not resize the chart canvas when its container does (keep at 600x400px)
		Chart.defaults.global.responsive = false;
  
		// define the chart data
		var chartData = {
		  labels : [{% for item in timestamps %}
					 "{{item}}",
					{% endfor %}],
		  datasets : [{
			  label: 'Temperature',
			  fill: true,
			  lineTension: 0.1,
			  backgroundColor: "rgba(75,192,192,0.2)",
			  borderColor: "rgba(75,192,192,1)",
			  borderCapStyle: 'butt',
			  borderDash: [],
			  borderDashOffset: 0.0,
			  borderJoinStyle: 'miter',
			  pointBorderColor: "rgba(75,192,192,1)",
			  pointBackgroundColor: "#fff",
			  pointBorderWidth: 1,
			  pointHoverRadius: 5,
			  pointHoverBackgroundColor: "rgba(75,192,192,1)",
			  pointHoverBorderColor: "rgba(220,220,220,1)",
			  pointHoverBorderWidth: 2,
			  pointRadius: 1,
			  pointHitRadius: 10,
			  data : [{% for item in temp %}
						{{item}},
					  {% endfor %}],
			  spanGaps: false
		  }]
		}
  
		// get chart canvas
		var holder = document.getElementById("tempChart");
		var ctx = document.getElementById("tempChart").getContext("2d");
  
		// create the chart using the chart canvas
		var tempChart = new Chart(ctx, {
		  type: 'line',
		  data: chartData,
		  options: {
			tooltips: {
			  enabled: true,
			  mode: 'single',
			  callbacks: {
				label: function(tooltipItems, data) {
						 return tooltipItems.yLabel + ' degrees';
					   }
			  }
			},
		  }
		});
	  
	  </script>

    <div id="g1"></div>
	<script>
		var g1;
		document.addEventListener("DOMContentLoaded", function(event) {
			g1 = new JustGage({
				id: "g1",
				value: {{CPU_temp_now}},
				valueFontColor: "white",
				titleFontColor: "white",
				min: 0,
				max: 100,
				title: "SERVER CPU TEMPERATURE",
				label: "Celcius"
			});
		});
	</script>

{% endblock %}
