{% extends "base.html" %}
{% block title %} Temp & Humidity - Home {% endblock %}
{{ super() }}
{% block navItem1 %} <a class="nav-link" aria-current="page" href="/serverCPU">Server CPU <span class="bi bi-thermometer"></span></a> {% endblock %}
{% block navItem2 %} <a class="nav-link" aria-current="page" href="/sensor1">In Portacom <span class="bi bi-thermometer"></span> <span class="bi bi-snow2"></span></a> {% endblock %}
{% block navItem3 %} <a class="nav-link" href="/sensor2">Under Portacom <span class="bi bi-thermometer"></span><span class="bi bi-snow2"></span></a> {% endblock %}

{% block content %}

<div class="d-flex justify-content-around pt-6">
	<div class="card bg-dark text-white border border-danger" style="width: 18rem;">
		<div class="card-body">
		<h5 class="card-title">Server CPU Information</h5>
		<p class="card-text">Max Temp: 80c</p>
		<p class="card-text">Average Temp: 45-60c</p>
		<p class="card-text">
			This is the Raspberry Pi's CPU temperature. It may change more rapidly than the other sensors, due to increased load on the CPU.
			That is normal, as long as it does not exceed the Max Temp everything is operating correctly.
		</p>
		</div>

	</div>


	<div class="card bg-dark text-white border border-danger" style="width: 18rem;">
		<div class="card-body">
		<h5 class="card-title">Temperature Information</h5>
		<p class="card-text">
			The temperature in the Portacom should not exceed ~24c otherwise the GPUs will get too hot(~70c).
		</p>
		</div>

	</div>

	<div class="card bg-dark text-white border border-info" style="width: 18rem;">
		<div class="card-body">
		<h5 class="card-title">Humidity Information</h5>
		<p class="card-text">
			At 100% relative humidity, the air is saturated and is at its dew point.
			Iron will rust when the air climbs over 50% relative humidity.
			Steel will rust when the relative humidity is over 80%.
			As long as the temperature of the item you want to prevent getting condensation is over the abiant temperature, no condensation will form.
		</p>
		</div>

	</div>
</div>

{% endblock %}
