{% extends "base.html" %}
{% block title %} Temp & Humidity - Sensor 1 {% endblock %}
{{ super() }}
{% block navItem1 %} <a class="nav-link" href="/serverCPU">Server CPU <span class="bi bi-thermometer"></span></a> {% endblock %}
{% block navItem2 %} <a class="nav-link active" href="/sensor1">In Portacom <span class="bi bi-thermometer"></span><span class="bi bi-snow2"></span></a> {% endblock %}
{% block navItem3 %} <a class="nav-link" href="/sensor2">Under Portacom <span class="bi bi-thermometer"></span><span class="bi bi-snow2"></span></a> {% endblock %}
{% block navItem4 %} <a class="nav-link" href="/sensor3">Kitchen <span class="bi bi-thermometer"></span><span class="bi bi-snow2"></span></a> {% endblock %}
{% block navItem5 %} <a class="nav-link" href="/sensor4">Bathroom <span class="bi bi-thermometer"></span><span class="bi bi-snow2"></span></a> {% endblock %}
{% block navItem6 %} <a class="nav-link" href="/sensor5">Backyard Portacom <span class="bi bi-thermometer"></span><span class="bi bi-snow2"></span></a> {% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<h3 class="text-white">{{ name_last }} Sensor Data </h3>
</div>

<div class="d-flex justify-content-around">

	<div class="d-flex flex-column align-items-center bd-highlight mb-3">
		<div id="g1">
		</div>
		<h6 class="p-3 m-2 text-white">Temperature data from last 12 hours</h6>
		<a class="btn btn-secondary btn-lg active m-3" role="button" href="/sensor1/temperature">Temperature</a>
	</div>

	<div class="d-flex flex-column align-items-center bd-highlight mb-3">
		<h6 class="p-3 mb-2 text-white">Last Reading: {{ timestamp_last }} (Updated every 1 minute)</h6>
		<a class="btn btn-secondary btn-lg active m-3" role="button"href="/sensor1">Refresh</a>
	</div>

	<div class="d-flex flex-column align-items-center bd-highlight mb-3">
		<div id="g2">
		</div>
		<h6 class="p-3 m-2 text-white">Humidity data from last 12 hours</h6>
		<a class="btn btn-secondary btn-lg active m-3" role="button" href="/sensor1/humidity">Humidity</a>
	</div>

</div>


<script type="text/javascript">
	var g1, g2;
	document.addEventListener("DOMContentLoaded", function(event) {
		g1 = new JustGage({
			id: "g1",
			value: {{temp_last}},
			valueFontColor: "white",
			titleFontColor: "white",
			min: -10,
			max: 50,
			title: "In Portacom TEMPERATURE",
			label: "Celcius"
		});

		g2 = new JustGage({
			id: "g2",
			value: {{hum_last}},
			valueFontColor: "white",
			titleFontColor: "white",
			min: 0,
			max: 100,
			title: "In Portacom HUMIDITY",
			label: "%"
		});

	});
</script>
{% endblock %}
